* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1d1b4d;
  margin: 0 auto;
  font-family: "Sofia Pro", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
=======
  width: 1080px;
}

nav {
  width: 100%;
  font-size: 2rem;
>>>>>>> 5ceeb7e (feat: update css)
}

.hero > .image {
  width: 50%;
}

.image > img {
  width: 100%;
  border-radius: 50%;
}
.hero > .deets {
  text-align: center;
  width: 100%;
}

.deets > h1 {
  margin-bottom: 0;
}

.deets > h2 {
  opacity: 75%;
  margin-bottom: 0;
}

.deets > p {
  line-height: 25px;
}

@media only screen and (max-width: 450px) {
  .hero {
    width: 100%;
  }
}

.hero > p {
  margin: 0;
}
