* {
  box-sizing: border-box;
}

html,
body {
  background-color: #0c0c1b;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  width: 1400px;
}
